{% extends "base.html" %}

{% block content %}

<div class="position-relative">
  <div class="min-vh-50">
    <div class="content-section container-md mt-5">
      <h1 class="my-1">Salon Services</h1>
      <p>Note: Some services may charge higher than the normal prices</p>
      <br>
      <div class="row">
        <div class="col-md-6 text-center ">
          <h1 class="my-2">Hair Menu</h1>
          <br>
          <p class="mb-2"><strong>Haircut with Style - 150.00 php</strong></p>
          <p class="mb-2"><strong>Haircut Trim - 100.00 php</strong></p>
          <p class="mb-2"><strong>Traditional Perm -  800.00 php and UP</strong></p>
          <p class="mb-2"><strong>Hair Extension - 5,000.00 php and UP</strong></p>
          <p class="mb-2"><strong>Hair Color - 800.00 php and UP</strong></p>
          <p class="mb-2"><strong>Highlights - 800.00 php and UP</strong></p>
          <p class="mb-2"><strong>Hair Rebond - 1,000.00 php and UP</strong></p>
          <p class="mb-2"><strong>Brazilian - 1,000 php and UP</strong></p>
          <p class="mb-2"><strong>Bayalage - 1,800.00 php and UP</strong></p>
        </div>
        <div class="col-md-6 text-center ">
          <h1 class="my-2">Nail Menu</h1>
          <br>
          <p class="mb-2"><strong>Manicure - 100.00 php</strong></p>
          <p class="mb-2"><strong>Pedicure - 100.00 php</strong></p>
          <p class="mb-2"><strong>Manicure Gel - 800.00 php</strong></p>
          <p class="mb-2"><strong>Ordinary Manicure - 600.00 php</strong></p>
          <p class="mb-2"><strong>Pedicure Gel - 800.00 php</strong></p>
          <p class="mb-2"><strong>Pedicure Ordinary - 600.00 php</strong></p>
          <p class="mb-2"><strong>Nail Extension - 1,000.00 php and UP</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container content-section text-center ">

    <div class="row">
        <div class="col-md-6 text-center ">
          <h1 class="my-2">Spa Menu </h1>
          <br>
          <p class="mb-2"><strong>Footspa - 250.00 php</strong></p>
          <p class="mb-2"><strong>Footspa with Footmask </strong></p>
          <p class="mb-2"><strong>Footspa with Foot Reflex - 450.00 php</strong></p>
          <p class="mb-2"><strong>Footspa with Gel - 300.00 php</strong></p>
          
        </div>
        <div class="col-md-6 text-center ">
          <h1 class="my-2">Massage Menu</h1>
          <br>
          <p class="mb-2"><strong>1 Hour Massage - 300.00 php</strong></p>
          <p class="mb-2"><strong>1 1/2 Massage - 450.00 php</strong></p>
          <p class="mb-2"><strong>2 Hours Massage - 250.00 php</strong></p>
          <br>
          <p class="mb-2"><strong>1 Hour Massage with Hot Compress - 350.00 php</strong></p>
          <p class="mb-2"><strong>1 1/2 Hour Massage with Hot Compress - 500.00 php</strong></p>
          <p class="mb-2"><strong>2 Hours Massage with Hot Compress - 250.00 php</strong></p>
          <br>
          <p class="mb-2"><strong>1 Hour Massage with Hot Stone - 400.00 php</strong></p>
          <p class="mb-2"><strong>1 1/2 Hour Massage with Hot Stone - 600.00 php</strong></p>
          <p class="mb-2"><strong>2 Hours Massage with Hot Stone - 800.00 php</strong></p>
          <br>
          <p class="mb-2"><strong>1 Hour Massage with Ventosa - 600.00 php</strong></p>
          <p class="mb-2"><strong>1 1/2 Hour Massage with Ventosa - 800.00 php</strong></p>
          <br>
          <p class="mb-2"><strong> 30 Mins Foot Reflex - 200.00 php</strong></p>
          <p class="mb-2"><strong> 1 Hour Foot Reflex - 400.00 php</strong></p>
          <br>
          <p class="mb-2"><strong> Ear Candle Only - 200.00 php</strong></p>
          <p class="mb-2"><strong> Less 50 Pesos with Massage - 150.00 php</strong></p>
          <br>
          <p class="mb-2"><strong> 1 1/2 Hour Body Scrub with Massage - 600.00 php</strong></p>
          <p class="mb-2"><strong> 2 Hours Body Scrube with Massage - 900.00 php</strong></p>
         
        </div>
      </div>
    
    
</div>

<div class="container content-section text-center ">

    <div class="row">
        <div class="col text-center ">
          <h1 class="my-2">Face and Other Services Menu </h1>
          <br>
          <p class="mb-2"><strong>Whitening - 350.00 php</strong></p>
          <p class="mb-2"><strong>Waxing Underarm - 300.00 php</strong></p>
          <p class="mb-2"><strong>Waxing Legs - 600.00 php</strong></p>
          <p class="mb-2"><strong>Waxing Bikini - 2000.00 php</strong></p>
          <p class="mb-2"><strong>Eyelash Extension - 800.00 php</strong></p>
          <p class="mb-2"><strong>Eyelash Firming - 300.00 php</strong></p>
          <p class="mb-2"><strong>Eyebrow Threading - 200.00 php</strong></p>
          <p class="mb-2"><strong>Eyebrow Shaving - 100.00 php</strong></p>
          <p class="mb-2"><strong>Traditional Hair & Make-up - 800.00 php</strong></p>
          <p class="mb-2"><strong>Air Brush Make-up - 1500.00 php</strong></p>

          
        </div>
        </div>
      </div>
    
    
</div>

{% endblock %}