{% extends 'admindashboard.html' %}


{% block content %}

<div class="container content-section mt-5 pt-3">
	<div class="row">
		<div class="col-md-9">
			<h1 class="account-heading"> Customer Update Password &#x1F511 </h1>
		</div>
		<div class="justify-content-left">
			<div class="col-lg-8">
				<form method="POST" href="{{ url_for('user_changepass', user_id=user_id) }}" class="needs-validate" novalidate enctype="multipart/form-data">
					{{ form.hidden_tag() }}
					
					<div class="mb-3">
						{{ form.new_password.label(class="form-label") }}
						{% if form.new_password.errors %}
							{{ form.new_password(class="form-control is-invalid") }}
							<div class="invalid-feedback">
								{% for errors in form.new_password.errors %}
									<span>{{ error }}</span>
									Password must contain at least one digit, one uppercase letter, one lowercase letter, and one of the following symbols: $@! and minimum of 8 Characters
								{% endfor %}
							</div>
						{% else %}
							{{ form.new_password(class="form-control") }}
						{% endif %}
					</div>
					
					<div class="mb-3">
						{{ form.confirm_new_password.label(class="form-label") }}
						{% if form.confirm_new_password.errors %}
							{{ form.confirm_new_password(class="form-control is-invalid") }}
							<div class="invalid-feedback">
								{% for errors in form.confirm_new_password.errors %}
									<span>{{ error }}</span>
									Your password is not match to you new password
								{% endfor %}
							</div>
						{% else %}
							{{ form.confirm_new_password(class="form-control") }}
						{% endif %}
					</div>

					<div class="mb-3">
        				{{ form.submit_update(class="btn btn-outline-primary") }}
      				</div>
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}