{% extends "base.html" %}
{% block content %}
  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item  " data-bs-interval="5000" >
        <img src="{{ url_for('static', filename='1.jpg' ) }}" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption top-0 ">
          <h2 class="display-2 fw-bolder mt-5 ">Lhay Lhor Nail Lounge and Spa</h2>
          <p>“Life is not Perfect. But your hair and nails can be ”</p>
        </div>
      </div>
      <div class="carousel-item c-item " data-bs-interval="5000" >
        <img src="{{ url_for('static', filename='2.jpg' ) }}" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption top-0 text-center ">
          <h2 class="display-2 fw-bolder mt-5 ">Experience the Relaxation</h2>
          <p>Showcase your inner beauty</p>
        </div>
      </div>
      <div class="carousel-item c-item " data-bs-interval="5000" >
        <img src="{{ url_for('static', filename='3.jpg' ) }}" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption top-0 text-center">
          <h2 class="display-2 fw-bolder mt-5">Join now</h2>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="ghostwhite" >
    <section class="gallery min-vh-50 ">
      <div class="container-lg">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">
            <img src="{{ url_for('static', filename='pic1.jpg' ) }}" class="gallery-item" alt="Gallery1">
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='pic2.jpg' ) }}" alt="Gallery2">
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='pic3.jpg' ) }}" class="gallery-item" alt="Gallery3">
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class=" gallery min-vh-30 mb-5 bg-dark " >
    <div class="container">
      <h3 style="color:white;" >Welcome to Lhay Lhor Nail Lounge and Spa, founded in 2018 by a passionate and skilled entrepreneur who saw the need for a unique, personalized approach to beauty and wellness services. Whether you're looking for a new hairstyle, a relaxing massage, or a refreshing nails, Mrs. Lorelie Jampas and her team of talented and experienced professionals are here to help you look and feel your best. Come visit us and experience the difference for yourself!</h3>
    </div>
  </section>
  {% if current_user.is_authenticated %}
    <section class=" gallery min-vh-30 mb-5" >
      <div class="container text-center ">
        <h1><a class="link-dark" href="{{ url_for('booking') }}"> Book now to meet your new self </a> </h1>
      </div>
    </section>
  {% else %}
    <section class=" gallery min-vh-30 mb-5" >
      <div class="container text-center ">
        <h1><a class="link-dark" href="{{ url_for('signup') }}"> To Book Signup Now </a> </h1>
      </div>
    </section>
  {% endif %}

<section class=" gallery min-vh-30  bg-dark " >
<div class="container" >
<h2 style="color:white;" > Frequently Ask Questions </h2>
<br>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        I have questions about the services, How do i contact the staffs?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        If you have problems or questions about our services, you can contact us 0927-4785-586 or you can message us on our Facebook Page <a href="https://www.facebook.com/profile.php?id=100064085317193"> Lhay Lhor Nail Lounge and Spa </a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Do you have branches near me? / Where can I find your salon?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The Lhay Lhor's Nail Lounge and Spa currently have 2 branches:
        <br>
        1. Fairview Central Mall, 32 Regalado Avenue, Novaliches 1188 Quezon City
        <br>
        2. Zapote Road, Camarin
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Do you offer Home Service?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes! We are offering home services
        <br>
        Contact Us: 0927-4785-586 or Message us to our Facebook Page <a href="https://www.facebook.com/profile.php?id=100064085317193"> Lhay Lhor Nail Lounge and Spa </a>
      </div>
    </div>
  </div>
</div>
</div>
</section>

{% endblock %}