.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 243, 244, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: white
}

.box1 {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 150px;
  width: 20%;
  padding: 10px;
  box-shadow: 5px 5px 6px;
  background-color: lightgreen;
}

.box2 {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 150px;
  width: 20%;
  padding: 10px;
  box-shadow: 5px 5px 6px ;
  background-color: lightyellow;
}

.box3 {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 150px;
  width: 20%;
  padding: 10px;
  box-shadow: 5px 5px 6px ;
  background-color: #FDEE00;
}

.box4 {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 150px;
  width: 20%;
  padding: 10px;
  box-shadow: 5px 5px 6px ;
  background-color: skyblue;
}

.alerts{
    border: 2px solid ;
    border-radius: 10px;
    height: 15%;
    width: 70%;
    box-shadow: 5px 5px 6px ;
    background-color: orangered;
}

.c-item{
    height: 400px;
}

.c-img{
    height: 100%;
    opacity: 100%;
    object-fit: cover;
    object-position:;
    filter: brightness(0.6);
}

:root{
    --bs-body-font-family: 'Lato';
}

body{
background-color: #F3F2ED ;    

}


.section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    padding: 100px 20vw;
}


.ghostwhite{
    background-color: #E7EAEA;
}

.dark{
    background-color: rgb(33, 37, 41);
}

.gallery{
    padding: 80px 0px;
}


img{
    max-width: 100%;
}

.gallery img{
    background: #fff;
    padding: 15px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);

}

.account-img {
  height: 135px;
  width: 135px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  margin-bottom: 30px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .content-section {
    padding: 10px 15px; /* Decrease padding on smaller screens */
    border-radius: 10px; /* Decrease border radius on smaller screens */
  }
}

.account-heading {
  font-size: 2.5rem;
}

.error-message {
  margin-bottom: 10px;
}

/*.bg-image{
    background-image: url('/static/lhay_team.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.filter-blur{
    background: rgba(240, 227, 227, 0.5);
    backdrop-filter: blur(15px);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}*/

.navbar-dark .navbar-nav .nav-link:hover {
  color: pink; /* Change this to your desired hover color */
}

.navbar-nav .nav-link:hover {
  color: pink; /* Change this to your desired hover color */
}
